.container-navbar {
    background-color: #22333B;
}

.img-navbar {
    height: 60px;
}


.btn-reserve {
  color: #ffffff;
  background-color: #22333B;
  border-color: #22333B;
}

.btn-reserve:hover {
  color: #ffffff;              
  background-color: #2e4752;   
  border-color: #2e4752;     
}


#modalImg .modal-content {
  background-color: transparent !important;
  border: none;
}

#modalImgView {
  max-height: 80vh;
  object-fit: contain;
  background-color: transparent;
}

#modalImg .btn-close:focus {
  outline: none !important;
  box-shadow: none !important;
}

#modalImg .modal-header {
  border: none !important;
  box-shadow: none !important;
}
